.navigation-wrapper {
  height: 60px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 100px;
}

.navigation-wrapper > .nav-logo {
  display: flex;
  filter: invert();
  align-items: flex-start;
}

/* We will need to manually asign width and height vaulues in the img */
.navigation-wrapper > .nav-logo img {
  width: 120px;
  height: 100%; /* We set it to 100% as to use max height of navbar */
}

.navigation-wrapper > .nav-explore {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  width: 220px;
  justify-content: space-between;
}

